@charset "UTF-8";
/*
* Tag标签样式
*
* --------------------------------------------------
*/

.tags{
  margin-bottom: -5px;
}
.tag{
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  margin-bottom: 5px;
  -webkit-border-radius: $border-radius-base;
  -moz-border-radius: $border-radius-base;
  border-radius: $border-radius-base;
  background-color: #f3f3f3;
  &:hover{
    background-color: darken(#f3f3f3, 5%);
  }
  &+.tag{
    margin-left: 5px;
  }
  .qIcon.close{
    margin-left: 3px;
    cursor: pointer;
  }
  a:first-child{
    display: inline-block;
    margin-left: -8px;
    padding-left: 8px;
    color: inherit;
  }
  &.tag-blue,
  &.tag-green,
  &.tag-yellow,
  &.tag-red{
    color: #fff;
  }
  &.tag-blue{
    background-color: $color-primary;
    &:hover{
      background-color: darken($color-primary, 5%);
    }
  }
  &.tag-green{
    background-color: $color-success;
    &:hover{
      background-color: darken($color-success, 5%);
    }
  }
  &.tag-yellow{
    background-color: $color-info;
    &:hover{
      background-color: darken($color-info, 5%);
    }
  }
  &.tag-red{
    background-color: $color-error;
    &:hover{
      background-color: darken($color-error, 5%);
    }
  }
}

/* Tag标签 */





